.results-table {
    width: 100%;
    margin: 20px 0;
    background-color: #f4f4f4;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 8px;
}

.results-table th, .results-table td {
    padding: 8px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-header {
    background-color: grey;
    color: #ffffff;
    font-weight: bold;
}

.results-table td {
    background-color: #ffffff;
    color: #333333;
}

.results-table tr:hover {
    background-color: #e6f2ff;
}

.results-table button {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.results-table button:hover {
    background-color: darkred;
}

.results-table td.clickable:hover {
    color: black;
    font-weight: bold;
    background-color: #cce5ff;
    cursor: pointer;
}

