.post-container {
    flex: 1; 
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    position: relative; /* Allows absolute positioning within */
}

.post-header {
    padding: 10px; /* Add padding to the header */
    border: 2px solid #007bff; /* Add a border at the bottom */
    background-color: white; /* Light background color */
    color: #007bff; /* Text color */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Align children to the start and end of the container */
    align-items: center; /* Center items vertically */
}


.post-title {
    font-weight: bold;
}

.post-user {
    font-style: italic;
    color: #555;
}

.post-content {
    border-bottom:  2px solid #007bff; /* Add a border at the bottom */
    border-left: 2px solid #007bff; /* Add a border at the left */
    border-right: 2px solid #007bff; /* Add a border at the right */
    padding: 10px;
    height: auto; /* Remove fixed height */
    max-height: 300px; /* Add max-height to limit content area */
    overflow-y: auto; /* Add scrollbar when content overflows */
    resize: none; /* Prevent resizing */
    background-color: grey; /* Light background color */
    color: #333; /* Text color */
    font-size: 14px; /* Adjust font size */
    line-height: 1.5; /* Adjust line height */
}

