.post-container {
    flex: 1; 
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    position: relative; /* Allows absolute positioning within */
}

.post-header {
    padding: 10px; /* Add padding to the header */
    border: 2px solid #007bff; /* Add a border at the bottom */
    background-color: white; /* Light background color */
    color: #007bff; /* Text color */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Align children to the start and end of the container */
    align-items: center; /* Center items vertically */
}


.post-title {
    font-weight: bold;
}

.post-user {
    font-style: italic;
    color: #555;
}

.post-content {
    border: 2px solid #007bff; /* Set border color */
    border-top: none; /* Remove top border */

    padding: 20px;
    height: auto;
    max-height: 300px;
    overflow-y: auto;
    resize: none;
    background-color: white;
    color: #333;
    font-size: 14px;
    line-height: 1.5;
}


