.gameArea {
    width: 400px;
    height: 200px;
    margin: 0 auto;
    background-color: grey;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    position: relative;
}

.player-cube {
    width: 30px;
    height: 30px;
    background-color: red;
    position: absolute;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
}

.obstacle {
    width: 20px;
    height: 20px;
    background-color: darkgreen;
    position: absolute;
}