#gameArea {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: grey;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    position: relative;
}
.snake {
    width: 20px;
    height: 20px;
    background-color: #0f0;
    position: absolute;
}

.food {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
}