<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="/css/admin.css" th:href="@{/css/admin.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Vovido Games | Admin</title>
</head>
<body>
    <h1>Admin menu</h1>
    <div class="top-right-container">
        <p><b>Logged in as:</b></p>
        <p><span id="username" th:text="${username}">Username</span></p>
        <p><span th:text="${email}">email</span></p>
        <a href="/logout">Logout</a>
    </div>
    <div class="top-left-container">
        <p><b>Vovido Games</b></p>
        <a href="/home">Home</a>
    </div>
    <div class="games-container">
        <p><b>Games</b></p>
        <a class="nav-link" href="/pexeso-menu">Pexeso</a>
        <a class="nav-link" href="/snake-game">Snake</a>
        <p><b>Leaderboards</b></p>
        <a class="nav-link" href="/leaderboards">Leaderboards</a>
        <p><b>Forum</b></p>
        <a class="nav-link" href="/forum">Forum</a>
        <p><b>Profiles</b></p>
        <a class="nav-link" onclick="redirectToUserProfile()">Your Profile</a>
        <a class="nav-link" href="/settings">Settings</a>
        <p><b>Admin</b></p>
        <a class="nav-link" href="/admin/admin-menu">Admin</a>
    </div>

    <script src="/js/dataOperations.js"></script>
    <script src="/js/profile.js" th:src="@{/js/profile.js}"></script> 
    <script src="/js/admin.js" th:src="@{/js/admin.js}"></script>

    <div class="sub-container-wrapper">
        <div class="sub-container">
            <form>
                <label for="entity">Entity:</label>
                <select id="entity" name="entity">
                    <option value="1">Users</option>
                    <option value="2">Posts</option>
                    <option value="3">Comments</option>
                </select>
                <button type="button" onclick="submitForm()">Show Entries</button>
            </form>
        </div>
    </div>

    <div class="sub-container-wrapper">
        <div class="sub-container">
            <h2>Entries</h2>
            <table id="resultsTable" class="results-table">
            </table>
        </div>      
    </div>
</body>
</html>