<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="/css/forum.css" th:href="@{/css/forum.css}">
    <title>Forum</title>
</head>
<body>
    <div id="modal" class="modal">
        <div class="modal-content" id="postCreationDetails"></div>
    </div>
    <div class="top-right-container">
        <p><b>Logged in as:</b></p>
        <p><span id="username" th:text="${username}">Username</span></p>
        <p><span th:text="${email}">email</span></p>
        <a href="/logout">Logout</a>
    </div>
    <div class="top-left-container">
        <p><b>Fun Games</b></p>
        <a href="/home">Home</a>
    </div>
    <div class="games-container">
        <p><b>Games</b></p>
        <a class="nav-link" href="/pexeso-menu">Pexeso</a>
        <a class="nav-link" href="/snake-game">Snake</a>
        <p><b>Leaderboards</b></p>
        <a class="nav-link" href="/leaderboards">Leaderboards</a>
        <p><b>Forum</b></p>
        <a class="nav-link">Forum</a>
    </div>
    <h1>Forum</h1>
    <div class="sub-container-wrapper">
        <div class="sub-container">
            <a onclick="showPostModal()">Create Post</a>
        </div>
    </div>
    <div class="sub-container-wrapper">
        <div style="padding-bottom: 10px;" class="sub-container" id="postContainer">
            <h2 id="postsHeader">Posts</h2>
            <a id="turnPageDownButton" style="margin: 5px; margin-top: 10px;" onclick="turnPageDown()">&lt;</a><a style="margin: 5px; margin-top: 10px;" onclick="turnPageUp()">></a>
            <p>[<span id="globalBottom"></span> - <span id="globalTop"></span>]</p>
        </div>
    </div>

    <script>
        var globalBottom;
        var globalTop;

        function showPostModal() {
            var modal = document.getElementById("modal");

            const postCreationDetails = document.getElementById("postCreationDetails");
            postCreationDetails.innerHTML = `
                <h2>Create Post</h2>
                <form id="postCreationForm">
                    <p>Title:</p>
                    <input type="text" id="title" name="title" required><br>
                    <p>Content:</p>
                    <textarea id="content" name="content" required></textarea><br>
                    <a onclick="submitPost()">Create Post</a>
                </form>
            `;

            modal.style.display = 'block';
            setTimeout(() => {
                modal.style.top = '0'; // This will trigger the transition
            }, 10);

        }

        function submitPost() {
            const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
            const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

            const title = document.getElementById("title").value;
            const content = document.getElementById("content").value;
            
            const username = document.getElementById("username").innerText;

            if (!title || !content) {
                alert('Please fill in all fields');
                return;
            }

            const post = {
                username: username,
                title: title,
                content: content
            };

            console.log(post);

            const requestOptions = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                },
                body: JSON.stringify(post)
            };

            fetch('/posts', requestOptions)
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Network response was not ok.');
                })
                .then(data => {
                    console.log('Post created:', data);
                })
                .catch(error => {
                    console.error('There was a problem with your fetch operation:', error);
                });

            closePostModal();

        
            function closePostModal() {
                var modal = document.getElementById("modal");
                modal.style.top = '-100%'; // This will trigger the transition
                setTimeout(() => {
                    modal.style.display = 'none';
                    window.location.reload();
                }, 500);
            }

        }

        function fetchPosts() {
                console.log('Fetching posts...');
                const url = '/posts?top=' + globalTop + '&bottom=' + globalBottom;
                fetch(url)
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        }
                        throw new Error('Network response was not ok.');
                    })
                    .then(data => {
                        if (data.length === 0) {
                            document.getElementById('postsHeader').textContent = 'No more posts to show.';
                            return;
                        }
                        data.forEach(post => {
                            createPostContainer(post);
                        });
                    })
                    .catch(error => {
                        console.error('There was a problem with your fetch operation:', error);
                    });
            }

            function createPostContainer(post) {
                const subContainer = document.getElementById('postContainer');
                const postContainer = document.createElement('div');
                postContainer.classList.add('post-container');

                const postHeader = document.createElement('div');
                postHeader.classList.add('post-header');
                postHeader.innerHTML = `
                    <span class="post-title">${post.title}</span>
                    <span class="post-user">${post.user.username}</span>
                `;

                const postContent = document.createElement('div');
                postContent.classList.add('post-content');
                postContent.innerHTML = `<p>${post.content}</p>`;

                const additionalHeader = document.createElement('div');
                additionalHeader.classList.add('additional-header');
                let formattedDate = post.dateCreated.substring(0,16).replace("T", ", ");
                additionalHeader.innerHTML = `
                    <a class="view-post" onclick="redirectToPost(${post.id})">View Post</a>
                    <span class="date-created">${formattedDate}</span>
                `;

                postContainer.appendChild(postHeader);
                postContainer.appendChild(postContent);
                postContainer.appendChild(additionalHeader);

                const navButton = document.getElementById("turnPageDownButton");
                subContainer.insertBefore(postContainer, navButton);
            }

            function setTopAndBottom() {
                var bottom = parseInt(getQueryParamater('bottom'));
                var top = parseInt(getQueryParamater('top'));

                if (bottom) {
                    globalBottom = bottom;
                }
                else {
                    globalBottom = 0;
                }

                if (top) {
                    globalTop = top;
                }
                else {
                    globalTop = 9;
                }

                console.log('Bottom:', globalBottom);
                console.log('Top:', globalTop);

                updateNavigationBar();
            }

            function updateNavigationBar() {
                const turnPageDownButton = document.getElementById("turnPageDownButton");
                if (globalBottom === 0) {
                    turnPageDownButton.style.visibility = "hidden";
                } else {
                    turnPageDownButton.style.visibility = "visible";
                }

                document.getElementById("globalBottom").textContent = globalBottom + 1;
                document.getElementById("globalTop").textContent = globalTop + 1;
            }

            function turnPageUp() {
                globalTop += 10;
                globalBottom += 10;
                window.location.href = '/forum?top=' + globalTop + '&bottom=' + globalBottom;
            }

            function turnPageDown() {
                globalTop -= 10;
                globalBottom -= 10;
                window.location.href = '/forum?top=' + globalTop + '&bottom=' + globalBottom;
            }

            function getQueryParamater(paramater){
                const urlParams = new URLSearchParams(window.location.search);
                return urlParams.get(paramater);
            }

            function redirectToPost(postId) {
                window.location.href = '/post/' + postId;
            }

            window.onload = function() {
                setTopAndBottom();
                fetchPosts();
            }
    </script>
</body>
</html>