<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">
    <title>Vovido Games | Game Menu</title>
</head>
<body>
    <h1>Games</h1>
    <div class="top-right-container">
        <p><b>Logged in as:</b></p>
        <p><span id="username" th:text="${username}">Username</span></p>
        <p><span th:text="${email}">email</span></p>
        <a href="/logout">Logout</a>
    </div>
    <div class="top-left-container">
        <p><b>Vovido Games</b></p>
        <a href="/home">Home</a>
    </div>
    <div class="games-container">
        <p><b>Games</b></p>
        <a class="nav-link" href="/pexeso-menu">Pexeso</a>
        <a class="nav-link" href="/snake-game">Snake</a>
        <p><b>Leaderboards</b></p>
        <a class="nav-link" href="/leaderboards">Leaderboards</a>
        <p><b>Forum</b></p>
        <a class="nav-link" href="/forum">Forum</a>
        <p><b>Profiles</b></p>
        <a class="nav-link" onclick="redirectToUserProfile()">Your Profile</a>
        <a class="nav-link" href="/settings">Settings</a>
        <p><b>Admin</b></p>
        <a class="nav-link" href="/admin/admin-menu">Admin</a>
    </div>
    <div class="sub-container-wrapper">
        <div class="left-wrapper">
            <div class="sub-container">
                <h2>Pexeso</h2>
                <p>Find all the pairs</p>
                <img class="game-picture" th:src="@{/images/pexeso.png}" src="/images/pexeso.png" alt="Pexeso">
                <a style="margin-top: 10px;" href="/pexeso-menu">Play Pexeso</a>
            </div>
        </div>
        <div class="right-wrapper">
            <div class="sub-container">
                <h2>Snake</h2>
                <p>Collect the food</p>
                <img class="game-picture" th:src="@{/images/snake.png}" src="/images/snake.png" alt="Snake">
                <a style="margin-top: 10px;" href="/snake-game">Play Snake</a>
            </div>
        </div>
    </div>
    <script src="/js/profile.js" th:src="@{/js/profile.js}"></script> 

    <script>

        function getRecordHolders(){
            fetch('/records')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('easyPexesoRecordHolder').innerText = data.easy.user.username;
                    document.getElementById('easyPexesoRecord').innerText = data.easy.score;
                    document.getElementById('mediumPexesoRecordHolder').innerText = data.medium.user.username;
                    document.getElementById('mediumPexesoRecord').innerText = data.medium.score;
                    document.getElementById('hardPexesoRecordHolder').innerText = data.hard.user.username;
                    document.getElementById('hardPexesoRecord').innerText = data.hard.score;
                    document.getElementById('snakeRecordHolder').innerText = data.snake.user.username;
                    document.getElementById('snakeRecord').innerText = data.snake.score;
                });

        }

        window.onload = function() {
            getRecordHolders();
        }

    </script>
</body>
</html>