<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">
    <title>Pexeso Menu</title>
</head>
<body>
    <h1>Games</h1>
    <div class="top-right-container">
        <p><b>Logged in as:</b></p>
        <p><span th:text="${username}">Username</span></p>
        <p><span th:text="${email}">email</span></p>
        <a href="/logout">Logout</a>
    </div>
    <div class="top-left-container">
        <p><b>Fun Games</b></p>
        <a href="/home">Home</a>
    </div>
    <div class="games-container">
        <p><b>Games</b></p>
        <a class="nav-link" href="/pexeso-menu">Pexeso</a>
        <a class="nav-link">Placeholder</a>
        <p><b>Leaderboards</b></p>
        <a class="nav-link" href="/leaderboards">Leaderboards</a>
        <p><b>Forum</b></p>
        <a class="nav-link">Forum</a>
    </div>
    <div class="sub-container-wrapper">
        <div class="left-wrapper">
            <div class="sub-container">
                <h2>Pexeso</h2>
                <p>Find all the pairs</p>
                <p><b>Record Holders:</b></p>
                <p>Easy: <span id="easyPexesoRecordHolder"></span></p>
                <p>Medium: <span id="mediumPexesoRecordHolder"></span></p>
                <p>Hard: <span id="hardPexesoRecordHolder"></span></p>
                <a href="/pexeso-menu">Play Pexeso</a>
            </div>
        </div>
        <div class="right-wrapper">
            <div class="sub-container">
                <h2>Jump jump</h2>
                <p>Jump over the obstacles</p>
                <p><b>Record holder: <span id="jumpRecordHolder"></span></b></p>
                <a href="/jump-jump">Play Jump Jump</a>
            </div>
            <div class="sub-container">
                <h2>Snake</h2>
                <p>Collect the food</p>
                <p><b>Record holder: <span id="snakeRecordHolder"></span></b></p>
                <a href="/snake">Play Snake</a>
            </div>
        </div>
    </div>
</body>
</html>