<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">
    <title>Vovido Games | Leaderboards</title>
</head>
<body>
    <h1>Leaderboard</h1>
    <p>Check out the top players</p>
    <div class="sub-container-wrapper">
        <div class="sub-container">
            <form id="leaderboardForm">
                <label for="difficulty">Game:</label>
                <select id="difficulty" name="difficulty">
                    <option value="1">Easy pexeso</option>
                    <option value="2">Medium pexeso</option>
                    <option value="3">Hard pexeso</option>
                    <option value="4">Snake</option>
                    <option value="5">Jump Jump</option>
                </select><br>
                
                <input style="margin-top: 15px;" type="radio" id="records" name="recordResults" value="records" checked>
                <label for="contactChoice1">Records</label>
                
                <input type="radio" id="results" name="recordResults" value="results">
                <label for="contactChoice2">Results</label>
                
        </form>
        <a style="margin-top: 15px;" onclick="sumbitForm()">Show Leaderboard</a>
        </div>
    </div>
    <div class="top-right-container">
        <p><b>Logged in as:</b></p>
        <p><span id="username" th:text="${username}">Username</span></p>
        <p><span th:text="${email}">email</span></p>
        <a href="/logout">Logout</a>
    </div>
    <div class="top-left-container">
        <p><b>Vovido Games</b></p>
        <a href="/home">Home</a>
    </div>
    <div class="games-container">
        <p><b>Games</b></p>
        <a class="nav-link" href="/pexeso-menu">Pexeso</a>
        <a class="nav-link" href="/snake-game">Snake</a>
        <p><b>Leaderboards</b></p>
        <a class="nav-link" href="/leaderboards">Leaderboards</a>
        <p><b>Forum</b></p>
        <a class="nav-link" href="/forum">Forum</a>
        <p><b>Profiles</b></p>
        <a class="nav-link" onclick="redirectToUserProfile()">Your Profile</a>
        <a class="nav-link" href="/settings">Settings</a>
        <p><b>Admin</b></p>
        <a class="nav-link" href="/admin/admin-menu">Admin</a>
    </div>
    <div class="sub-container-wrapper">
        <div class="sub-container">
            <h2><span id="difficultyText">Easy pexeso records</span></h2>
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Player</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody id="leaderboardBody">
                    <!-- Leaderboard data will be populated here -->
                </tbody>
            </table>
            <a id="turnPageDownButton" style="margin: 5px; margin-top: 10px;" onclick="turnPageDown()">&lt;</a><a style="margin: 5px; margin-top: 10px;" onclick="turnPageUp()">></a>
            <p>[<span id="globalBottom"></span> - <span id="globalTop"></span>]</p>
        </div>
    </div>

    <script src="/js/profile.js" th:src="@{/js/profile.js}"></script> 
    <script src="/js/leaderboard.js" th:src="@{/js/leaderboard.js}"></script>

    <script>
        window.onload = function() {
            globalBaseUrl = "/pexeso/records";
            getResultsToLeaderboard("/pexeso/records",19, 0, 1);
            updateNavigationButtonVisibility();
         };
    </script>
</body>
</html>