<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">
    <title>Pexeso Menu</title>
</head>
<body>
    <h1>Main Menu</h1>
    <div class="top-right-container">
        <p><b>Logged in as:</b></p>
        <p><span th:text="${username}">Username</span></p>
        <p><span th:text="${email}">email</span></p>
        <a href="/logout">Logout</a>
    </div>
    <div class="top-left-container">
        <p><b>Fun Games</b></p>
        <a href="/home">Home</a>
    </div>

    <div class="sub-container-wrapper">
        <div class="left-wrapper">
            <div class="sub-container">
                <a href="/game-menu">Pexeso</a>
                <a href="/leaderboards">Leaderboards</a>
            </div>
        </div>
        <div class="right-wrapper">
            <div class="sub-container">
                <a href="/pexeso-menu">Pexeso</a>
                <a href="/leaderboards">Forum</a>
            </div>
    </div>
</body>
</html>