<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">
    <title>Vovido Games</title>
    <style>
        .fade-out {
            animation: fadeOut 0.5s;
            opacity: 0;
        }
    
        .fade-in {
            animation: fadeIn 0.5s;
            opacity: 1;
        }
    
        @keyframes fadeOut {
            from { opacity: 1; }
            to { opacity: 0; }
        }
    
        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
    </style>
</head>
<body>
    <h1>Welcome to Fun Games</h1>
    <div class="top-right-container">
        <p><b>Logged in as:</b></p>
        <p><span id="username" th:text="${username}">Username</span></p>
        <p><span th:text="${email}">email</span></p>
        <a href="/logout">Logout</a>
    </div>
    <div class="top-left-container">
        <p><b>Vovido Games</b></p>
        <a href="/home">Home</a>
    </div>
    <div class="games-container">
        <p><b>Games</b></p>
        <a class="nav-link" href="/pexeso-menu">Pexeso</a>
        <a class="nav-link" href="/snake-game">Snake</a>
        <p><b>Leaderboards</b></p>
        <a class="nav-link" href="/leaderboards">Leaderboards</a>
        <p><b>Forum</b></p>
        <a class="nav-link" href="/forum">Forum</a>
        <p><b>Profiles</b></p>
        <a class="nav-link" onclick="redirectToUserProfile()">Your Profile</a>
        <a class="nav-link" href="/settings">Settings</a>
        <p><b>Admin</b></p>
        <a class="nav-link" href="/admin/admin-menu">Admin</a>
    </div>

    <div class="sub-container-wrapper">
        <div class="left-wrapper">
            <div class="sub-container">
                <h2>Games</h2>
                <p>Let's see what's in you!</p>
                <a href="/game-menu">Games menu</a>
            </div>
        </div>
        <div class="right-wrapper">
            <div class="sub-container">
                <h2>Leaderboards</h2>
                <p>Compare yourself with others</p>
                <a href="/leaderboards">Leaderboards</a>
            </div>
        </div>
    </div>
    <div id="hallOfFame" class="sub-container-wrapper">
        <div class="sub-container">
            <h2><span id="game">Easy pexeso</span></h2>
            <table>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Player</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody id="leaderboardBody">
                    <!-- Leaderboard data will be populated here -->
                </tbody>
            </table>
        </div>
    </div>
    <div class="sub-container-wrapper">
        <div class="left-wrapper">
            <div class="sub-container">
                <h2>Forum</h2>
                <p>Discuss with others</p>
                <a href="/forum">Forum</a>
            </div>
        </div>
        <div class="right-wrapper">
            <div class="sub-container">
                <h2>Your profile</h2>
                <p>Check your profile</p>
                <a onclick="redirectToUserProfile()">Your profile</a>
            </div>
        </div>

    </div>
    <script src="/js/dataOperations.js"></script>
    <script src="/js/profile.js" th:src="@{/js/profile.js}"></script> 

    <script>
        var currentDifficulty = 1;
        var isFirstLoad = true;


        function getResultsToLeaderboard(baseUrl, top, bottom, difficulty) {
            const hallOfFameContainer = document.getElementById("hallOfFame");

            if (!isFirstLoad) {
                hallOfFameContainer.classList.add('fade-out');
                hallOfFameContainer.classList.remove('fade-in');
            }

            const updateDelay = isFirstLoad ? 0 : 500;

            setTimeout(() => {
                // Update the difficulty text when the container is fully invisible
                updateDifficultyLabel(difficulty);

                var url = baseUrl;
                if (top) {
                    url += '?top=' + top;
                }
                if (bottom) {
                    url += '&bottom=' + bottom;
                }
                if (difficulty<4) {
                    url += '&difficulty=' + difficulty;
                }

                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        const leaderboardBody = document.getElementById("leaderboardBody");
                        leaderboardBody.innerHTML = ""; // Clear existing rows within the body
                        data.forEach((result, index) => {
                            const row = document.createElement("tr");
                            const rankCell = document.createElement("td");
                            rankCell.textContent = (index + 1);
                            const playerCell = document.createElement("td");
                            playerCell.textContent = result.user.username;
                            const scoreCell = document.createElement("td");
                            scoreCell.textContent = result.score;
                            row.appendChild(rankCell);
                            row.appendChild(playerCell);
                            row.appendChild(scoreCell);
                            leaderboardBody.appendChild(row);
                        });

                        if (!isFirstLoad) {
                            // Wait a bit before starting the fade-in to ensure changes have been made
                            setTimeout(() => {
                                // Fade-in the updated container after data is loaded and difficulty label is updated
                                hallOfFameContainer.classList.remove('fade-out');
                                hallOfFameContainer.classList.add('fade-in');
                            }, 100); // A short delay before fading in ensures any DOM updates are rendered
                        } else {
                            // Immediately show the content without fade-in animation for the first load
                            isFirstLoad = false; // Update the flag after the first load completes
                        }
                    });
            }, updateDelay); // Match this delay to the duration of the fade-out animation
        }

        function updateDifficultyLabel(difficulty) {
            const difficultySpan = document.getElementById("game");
            switch(difficulty) {
                case 1:
                    difficultySpan.textContent = "Easy pexeso";
                    break;
                case 2:
                    difficultySpan.textContent = "Medium pexeso";
                    break;
                case 3:
                    difficultySpan.textContent = "Hard pexeso";
                    break;
                case 4:
                    difficultySpan.textContent = "Snake";
                    break;
            }
        }

        function updateLeaderboard() {
            if (currentDifficulty === 4) {
                getResultsToLeaderboard("/snake/results", 2, 0, currentDifficulty);
            } else {
                getResultsToLeaderboard("/results", 2, 0, currentDifficulty);
            }
            currentDifficulty += 1;
            if (currentDifficulty > 4) {
                currentDifficulty = 1; // Reset difficulty after 4
            }
        }

        window.onload = function() {
            updateLeaderboard(); // Initial call to display the leaderboard
            setInterval(updateLeaderboard, 6000); // Adjusted to account for animation time plus a little buffer
        };

    </script>
       
</body>
</html>