<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Pexeso Board</title>
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
    <div id="modal" class="modal">
        <div class="modal-content" id="game-details"></div>
    </div>
    <div class="top-right-container">
        <p><b>Logged in as:</b></p>
        <p><span id="username" th:text="${username}">Username</span></p>
        <p><span th:text="${email}">email</span></p>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
    <div class="top-left-container">
        <p><b>Fun Games</b></p>
        <a href="/home">Home</a>
    </div>
    <div class="middle-right-container">
        <p><b>Leaderboard</b></p>
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Player</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody id="leaderboardBody">
                <!-- Leaderboard data will be populated here -->
            </tbody>
        </table>
        <a href="/leaderboards" style="margin-top: 10px;">Full Leadeboards</a>
    </div>
    <h1>Pexeso</h1>
    <div class="sub-container-wrapper">
        <div class="sub-container">
            <div class="board" th:classappend="${difficulty}">
                <div th:each="cardNumber : ${#numbers.sequence(1, difficulty == 'easy' ? 16 : difficulty == 'medium' ? 36 : 64)}" class="card">
                </div>
            </div>
        </div>
    </div>
    <div class="sub-container-wrapper">
        <div class="left-wrapper">
            <div class="sub-container">
                <p>Clicks: <span id="clicks">0</span></p>
                <p>Matches: <span id="matches">0</span></p>
            </div>
        </div>
        <div class="right-wrapper">
            <div class="sub-container">
                <a href="/pexeso-menu">Back to Menu</a>
                <a th:href="@{/pexeso-game(difficulty=${difficulty})}">Restart Game</a>

            </div>
        </div>
    </div>
    <script src="/js/dataOperations.js" th:src="@{/js/dataOperations.js}"></script>
    <script src="/js/pexeso.js" th:src="@{/js/pexeso.js}"></script>

    <script>
        window.onload = function() {
            setupValues();
            assignCardValues();
            getResultsToLeaderboard(5);

    
            var cards = document.querySelectorAll('.card');
            cards.forEach(card => card.addEventListener('click', flipCard));
        };
    </script>
</body>
</html>
