<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">
    <title>Pexeso Menu</title>
</head>
<body>
    <h1>Welcome to Pexeso Menu</h1>
    <div class="top-right-container">
        <p><b>Logged in as:</b></p>
        <p><span th:text="${username}">Username</span></p>
        <p>Placeholder</p>
        <a href="/logout">Logout</a>
    </div>
    <div class="top-left-container">
        <p><b>Fun Games</b></p>
        <a>Home</a>
    </div>
    <div class="sub-container-wrapper">

        <div class="sub-container">
            <h2>Game Modes</h2>
            <a style="background-color: green;"  href="/pexeso-game?difficulty=easy">Easy</a>
            <a style="background-color: orange;" href="/pexeso-game?difficulty=medium">Medium</a>
            <a style="background-color: red;" href="/pexeso-game?difficulty=hard">Hard</a>
        </div>
</body>
</html>