<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">
    <title>Vovido Games | Pexeso Menu</title>
</head>
<body>
    <h1>Pexeso Menu</h1>
    <div class="top-right-container">
        <p><b>Logged in as:</b></p>
        <p><span id="username" th:text="${username}">Username</span></p>
        <p><span th:text="${email}">email</span></p>
        <a href="/logout">Logout</a>
    </div>
    <div class="top-left-container">
        <p><b>Vovido Games</b></p>
        <a href="/home">Home</a>
    </div>
    <div class="games-container">
        <p><b>Games</b></p>
        <a class="nav-link" href="/pexeso-menu">Pexeso</a>
        <a class="nav-link" href="/snake-game">Snake</a>
        <a class="nav-link" href="/jump-game">Jump Jump</a>
        <p><b>Leaderboards</b></p>
        <a class="nav-link" href="/leaderboards">Leaderboards</a>
        <p><b>Forum</b></p>
        <a class="nav-link" href="/forum">Forum</a>
        <p><b>Profiles</b></p>
        <a class="nav-link" onclick="redirectToUserProfile()">Your Profile</a>
        <a class="nav-link" href="/settings">Settings</a>
        <p><b>Admin</b></p>
        <a class="nav-link" href="/admin/admin-menu">Admin</a>
    </div>
    <div class="sub-container-wrapper">

        <div class="sub-container">
            <h2>Game Modes</h2>
            <h3>Easy pexeso</h3>
            <p>16 cards. Pexeso for beginners.</p>
            <a style="background-color: green;"  href="/pexeso-game?difficulty=easy">Easy</a>
            <h3>Medium pexeso</h3>
            <p>24 cards. Mode for experienced players.</p>
            <a style="background-color: orange;" href="/pexeso-game?difficulty=medium">Medium</a>
            <h3>Hard pexeso</h3>
            <p>36 cards. Try only if you are a pexeso master!</p>
            <a style="background-color: red;" href="/pexeso-game?difficulty=hard">Hard</a>
        </div>
    <script src="/js/profile.js" th:src="@{/js/profile.js}"></script> 
</body>
</html>