<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="/css/forum.css" th:href="@{/css/forum.css}">
    <title>Vovido Games | Post</title>
</head>
<body>
    <div id="data" th:attr="data-attribute=${postId}"></div>
    <div id="modal" class="modal">
        <div class="modal-content" id="commentCreationDetails"></div>
    </div>
    <div class="top-right-container">
        <p><b>Logged in as:</b></p>
        <p><span id="username" th:text="${username}">Username</span></p>
        <p><span th:text="${email}">email</span></p>
        <a href="/logout">Logout</a>
    </div>
    <div class="top-left-container">
        <p><b>Vovido Games</b></p>
        <a href="/home">Home</a>
    </div>
    <div class="games-container">
        <p><b>Games</b></p>
        <a class="nav-link" href="/pexeso-menu">Pexeso</a>
        <a class="nav-link" href="/snake-game">Snake</a>
        <p><b>Leaderboards</b></p>
        <a class="nav-link" href="/leaderboards">Leaderboards</a>
        <p><b>Forum</b></p>
        <a class="nav-link" href="/forum">Forum</a>
        <p><b>Profiles</b></p>
        <a class="nav-link" onclick="redirectToUserProfile()">Your Profile</a>
        <a class="nav-link" href="/settings">Settings</a>
        <p><b>Admin</b></p>
        <a class="nav-link" href="/admin/admin-menu">Admin</a>
    </div>
    <h1 id="titleHeader"></h1>
    <div class="sub-container-wrapper">
        <div style="padding: 0px" class="sub-container">
            <div class="postContainer" id="postContainer">
                <div class="post-header">
                    <span class="post-title" id="postTitle"></span>
                    <div class="post-user-info">
                        <span class="post-user" id="postAuthor"></span>
                        <img class="post-pfp" id="pfp">
                    </div>
                </div>
                <div class="post-content">
                    <p id="postContent"></p>
                </div>
                <div class="additional-header">
                    <span style="margin-left: 10px; margin-top: 5px; margin-bottom: 5px;" class="date-created" id="dateCreated"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-container-wrapper">
        <div class="sub-container">
            <a onclick="showCommentModal()">Add comment</a><br>
        </div>
    </div>
    <div class="sub-container-wrapper">
        <div class="sub-container" id="commentContainer">
            <h2><span id="commentsHeader">Comments</span></h2>
            <a id="turnPageDownButton" style="margin: 5px; margin-top: 10px;" onclick="turnPageDown()">&lt;</a><a id="turnPageUpButton" style="margin: 5px; margin-top: 10px;" onclick="turnPageUp()">></a>
            <p id="pages">[<span id="globalBottom"></span> - <span id="globalTop"></span>]</p>
        </div>
    </div>
    <div class="sub-container-wrapper">
        <div class="sub-container">
            <a href="/forum">Back to Forum</a>
    </div>
    <script src="/js/post.js" th:src="@{/js/post.js}"></script>
    <script src="/js/profile.js" th:src="@{/js/profile.js}"></script> 
    <script>
        window.onload  = function() {
            setTopAndBottom();
            fetchPost();
            fetchComments();
        }
    </script>
</body>
</html>