<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">
    <title>Vovido Games | Register</title>
</head>
<body>
    <div class="login-container">
    <h2>Register</h2>
        <form th:action="@{/register}" method="post" th:object="${registrationUserDto}">
            <div>
                <label for="username">Username:</label>
                <input type="text" th:field="*{username}" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" th:field="*{password}" required>
            </div>
            <div>
                <label for="confirmPassword">Confirm password:</label>
                <input type="password" th:field="*{confirmPassword}" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" th:field="*{email}" required>
            </div>
            <div>
                <button type="submit">Register</button>
            </div>
            <div th:if="${errorMessage}" th:text="${errorMessage}" class="error-message" style="color: red; margin-top: 10px;"></div>
        </form>
        <p style="margin-top: 50px;">Already have an account?</p>
        <button onclick="redirectToLogin()">Login</button>
    </div>

    <script>
        /**
         * Attaches a one-time click event listener to the document body after the DOM
         * is fully loaded. On click, it hides all elements with the 'error-message' class
         * by setting their display to 'none'. Designed to dismiss error messages with a
         * single page interaction.
         */
        document.addEventListener("DOMContentLoaded", function() {
            document.body.addEventListener("click", function() {
                var messageElements = document.querySelectorAll(".error-message");
                messageElements.forEach(function(element) {
                    element.style.display = 'none';
                });
            }, { once: true });
        });

        /**
         * Redirects the user to the login page.
         */
        function redirectToLogin() {
            window.location.href = "/login";
        }
    </script>
</body>
</html>
