<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="/css/forum.css" th:href="@{/css/forum.css}">
    <title>Vovido Games | Settings</title>
</head>
<body>
    <div id="modal" class="modal">
        <div class="modal-content" id="profileEditDetails"></div>
    </div>
    <div class="top-right-container">
        <p><b>Logged in as:</b></p>
        <p><span id="username" th:text="${username}">Username</span></p>
        <p><span th:text="${email}">email</span></p>
        <a href="/logout">Logout</a>
    </div>
    <div class="top-left-container">
        <p><b>Vovido Games</b></p>
        <a href="/home">Home</a>
    </div>
    <div class="games-container">
        <p><b>Games</b></p>
        <a class="nav-link" href="/pexeso-menu">Pexeso</a>
        <a class="nav-link" href="/snake-game">Snake</a>
        <p><b>Leaderboards</b></p>
        <a class="nav-link" href="/leaderboards">Leaderboards</a>
        <p><b>Forum</b></p>
        <a class="nav-link" href="/forum">Forum</a>
        <p><b>Profiles</b></p>
        <a class="nav-link" onclick="redirectToUserProfile()">Your Profile</a>
        <a class="nav-link" href="/settings">Settings</a>
        <p><b>Admin</b></p>
        <a class="nav-link" href="/admin/admin-menu">Admin</a>
    </div>
    <h1>Settings</h1>
    <div class="sub-container-wrapper" id="editContainer">
        <div class="left-wrapper">
            <div class="sub-container">
                <div class="profile-details">
                    <p>Username: <b><span id="detailsUsername"></span></b></p>
                    <a onclick="showChangeUsernameModal()">Edit username</a>
                </div>
            </div>
            <div class="sub-container">
                <div class="profile-details">
                    <p>Email:</p>
                    <p><b><span id="detailsEmail"></span></b></p>
                    <a onclick="showChangeEmailModal()">Edit email</a>
                </div>
            </div>
        </div>
        <div class="right-wrapper">
            <div class="sub-container">
                <p>Avatar:</p>
                <img class="profile-pfp" id="pfp" src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg"><br>
                <a style="margin-top: 10px;" onclick="showChangeAvatarModal()">Edit avatar</a>
            </div>
            <div class="sub-container" style="padding: 19px;">
                <a onclick="showChangePasswordModal()">Change Password</a>
            </div>
        </div>
    </div>
    <script src="/js/settings.js" th:src="@{/js/settings.js}"></script>
    <script src="/js/profile.js" th:src="@{/js/profile.js}"></script> 

    <script>
        window.onload = function() {
            fetchUser();
        };
    </script>
</body>
</html>