<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Vovido Games | Snake</title>
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="/css/snakeStyles.css" th:href="@{/css/snakeStyles.css}">
    <link rel="stylesheet" href="/css/forum.css" th:href="@{/css/forum.css}">
</head>
<body>
    <div id="modal" class="modal">
        <div class="modal-content" id="game-details"></div>
    </div>
    <div class="top-right-container">
        <p><b>Logged in as:</b></p>
        <p><span id="username" th:text="${username}">Username</span></p>
        <p><span th:text="${email}">email</span></p>
        <a href="/logout">Logout</a>
    </div>
    <div class="top-left-container">
        <p><b>Vovido Games</b></p>
        <a href="/home">Home</a>
    </div>
    <div class="games-container">
        <p><b>Games</b></p>
        <a class="nav-link" href="/pexeso-menu">Pexeso</a>
        <a class="nav-link" href="/snake-game">Snake</a>
        <p><b>Leaderboards</b></p>
        <a class="nav-link" href="/leaderboards">Leaderboards</a>
        <p><b>Forum</b></p>
        <a class="nav-link" href="/forum">Forum</a>
        <p><b>Profiles</b></p>
        <a class="nav-link" onclick="redirectToUserProfile()">Your Profile</a>
        <a class="nav-link" href="/settings">Settings</a>
        <p><b>Admin</b></p>
        <a class="nav-link" href="/admin/admin-menu">Admin</a>
    </div>
    <div class="middle-right-container">
        <p><b>Leaderboard</b></p>
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Player</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody id="leaderboardBody">
                <!-- Leaderboard data will be populated here -->
            </tbody>
        </table>
        <a href="/leaderboards" style="margin-top: 10px;">Full Leadeboards</a>
    </div>
    <h1>Snake</h1>
    <div class="sub-container-wrapper">
        <div class="sub-container">
            <div id="gameArea"></div>
        </div>
    </div>
    <div class="sub-container-wrapper">
        <div class="left-wrapper">
            <div class="sub-container">
                <p><span id="score">Score: 0</span></p>
            </div>
        </div>
        <div class="right-wrapper">
            <div class="sub-container">
                <a href="/home">Back to Menu</a>
                <a href="/snake-game">Restart Game</a>

            </div>
        </div>
    </div>
    <div class="sub-container-wrapper">
        <div class="sub-container">
            <p>World Record: <b><span id="record"></span></b></p>
            
            <p>Record Holder: <b><span id="recordHolder"></span></b></p><br>
            <img class="profile-pfp" id="recordHolderPicture"></p>
            
        </div>
    </div>

    <script src="/js/dataOperations.js" th:src="@{/js/dataOperations.js}"></script>
    <script src="/js/snake.js" th:src="@{/js/snake.js}"></script>
    <script src="/js/profile.js" th:src="@{/js/profile.js}"></script> 

    <script>
        function getRecordHolder(){
            fetch('/records')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('record').innerText = data.snake.score;
                    document.getElementById('recordHolder').innerText = data.snake.user.username;
                    document.getElementById('recordHolderPicture').src = data.snake.user.profilePictureURL;
                });

        }

        window.onload = function() {
            getSnakeResultsToLeaderboard(4,0);
            getRecordHolder();
            showStartModal();
        }
    </script>
</body>
</html>
